:root {
    --green: #189929;
    --cream: #ede5cd;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    
    --text-primary: #212529;
    --text-secondary: #6c757d;
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    
    --border-color: #dee2e6;
    --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}


 body {
            margin-top: 80px;
            font-family: Arial, sans-serif;
            background-color: var(--cream);
            color: black;
        }
 .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }  
.container { 
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 24px;
    background-color: rgb(247, 244, 224);
    border-radius: 5px; 
}
