.navbar {
        display: flex;
        padding: 10px;
        background-color: white;
        align-items: center;
        position:fixed;
        top:0;
        width:100%;
    }

    .navbar h3 {
        color: black;
    }

    .navbar img {
        height: 50px;
        right: auto;
        margin: 50 px;
    }

    nav {
        background-color: white;
        overflow: hidden;
        color: black;
    }
    
    a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    a:hover {
        background-color: #ddd;
        color: var(--green);
    }